*{
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  color: #0A3871;
}

.alogo {
  position: absolute;
  left: 5%;
  top: 1%;
}

.titulo {
  display: block;
  margin: 60px auto 5px;
  padding: 0 15% 0;
}

.btn {
  display: inline;
  flex-direction: row;
  align-items: center;
  position: relative;
  width: 317px;
  height: 105px;
  border-radius: 24px;
  margin: 15px auto 0px;
}

#iniciar-jogo {
  position: relative;
  width: 269px;
  height: 57px;
  /*left: 100px;
  top: 580px;*/

  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  /*display: flex;*/
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #FFFFFF;
  background: #0A3871;
  /* Inside auto layout 
  flex: none;
  order: 0;
  flex-grow: 1;
  margin: 0px 8px;*/
}

#nova-palavra-btn {
  /*position: relative;*/
  width: 269px;
  height: 57px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  /*display: flex;*/
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #0A3871;
  background: #E5E5E5;
  /* Inside auto layout 
  flex: none;
  order: 0;
  flex-grow: 1;
  margin: 0px 8px;*/
}

#nova-palavra {
  vertical-align: top;
  width: 30%;
  margin: auto;
}

#canvas-forca {
  display: flex;
  margin: auto;
}

.text-input {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 150%;
  /* identical to box height, or 48px */
  color: #0A3871;
}

.rodape {
  /*display: inline;
  width:16px;
  height:16px;
  margin: 15px auto 10px;
  padding: 0 20px 0 20px;*/
}

footer .rodape {
  /*display: inline;
  justify-content: center;
  margin: 0 auto;*/
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#logo-in {
  width:16px;
  height:16px;
}
