*{
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  color: #0A3871;
}

.alogo {
  /* Vector */
  position: absolute;
  left: 36.67%;
  right: 37.43%;
  top: 0%;
  bottom: 0%;
}

.titulo {
  padding: 15px;
  width: 30vw;
  margin: auto;

}

.btn {
  /* Button */
  /* Auto layout */
  display: flex;
  /*flex-direction: row;*/
  align-items: center;
  padding: 24px;
  position: relative;
  width: 317px;
  height: 105px;
  left: 562px; 
  top: 394px;
  border-radius: 24px;
}

#iniciar-jogo {
  /* Button */
  position: static;
  width: 269px;
  height: 57px;
  left: 24px;
  top: 24px;

  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;

  /* White */
  color: #FFFFFF;

  /* Dark blue/dark-blue-300 */
  background: #0A3871;


  /* Inside auto layout 
  flex: none;
  order: 0;
  flex-grow: 1;
  margin: 0px 8px;*/
}

#nova-palavra {
  /* Button */
  position: static;
  width: 269px;
  height: 57px;
  left: 24px;
  top: 24px;

  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;

  /* Dark blue/dark-blue-300 */
  color: #0A3871;
  background: #E5E5E5;

  /* Inside auto layout 
  flex: none;
  order: 0;
  flex-grow: 1;
  margin: 0px 8px;*/
}



.text-input {
  /* Digite uma palavra ou frase */
  position: absolute;
  width: 413px;
  height: 48px;
  left: 376px;
  top: 256px;

  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 150%;
  /* identical to box height, or 48px */
  /* Dark blue/dark-blue-300 */
  color: #0A3871;
}

.rodape {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

#nova-palavra {
  display: none;
}